header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 32px;
}

.main {
  display: flex;
  align-items: center;
  gap: 32px;
}

.main img {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  width: 384px;  
}

.about h1 {
  color: var(--text-color-primary);
  font: var(--text-lg);
  margin-bottom: 8px;
}

.about p {
  font: var(--text-md);
}

.information {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.information span {
  display: flex;
  align-items: center;
  gap: 8px;
  
  font: var(--text-md);
}